@model BlogSimple.Model.ViewModels.AccountViewModels.MyAchievementsViewModel;

@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Views/Account/_DashboardAccountLayout.cshtml";
}

<div class="m-5">
    <h1 class="text-left">My Achievements</h1>
    <br />
    <br />

    <div>
        <div class="text-left">
            <h4>Achievement Details - @Model.AccountUser.UserName</h4>
            <hr />
            <table class="table">
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.CreatedPostFirstTime)</th>
                    <td>@Model.Achievements.CreatedPostFirstTime</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.PublishedPostFirstTime)</th>
                    <td>@Model.Achievements.PublishedPostFirstTime</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.PublishedFivePosts)</th>
                    <td>@Model.Achievements.PublishedFivePosts</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.PublishedTenPosts)</th>
                    <td>@Model.Achievements.PublishedTenPosts</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.EditedPostFirstTime)</th>
                    <td>@Model.Achievements.EditedPostFirstTime</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.FavoritePostFirstTime)</th>
                    <td>@Model.Achievements.FavoritePostFirstTime</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.PublishedCommentFirstTime)</th>
                    <td>@Model.Achievements.PublishedCommentFirstTime</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.PublishedFiveComments)</th>
                    <td>@Model.Achievements.PublishedFiveComments</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.LikedCommentFirstTime)</th>
                    <td>@Model.Achievements.LikedCommentFirstTime</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.LikedFiveComments)</th>
                    <td>@Model.Achievements.LikedFiveComments</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.LikedTenComments)</th>
                    <td>@Model.Achievements.LikedTenComments</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.PublishedReplyFirstTime)</th>
                    <td>@Model.Achievements.PublishedReplyFirstTime</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.PublishedOver1000TotalWords)</th>
                    <td>@Model.Achievements.PublishedOver1000TotalWords</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.PublishedOver5000TotalWords)</th>
                    <td>@Model.Achievements.PublishedOver5000TotalWords</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.PublishedOver10000TotalWords)</th>
                    <td>@Model.Achievements.PublishedOver10000TotalWords</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.PublishedOver500TotalWords)</th>
                    <td>@Model.Achievements.PublishedOver500TotalWords</td>
                </tr>
                <tr>
                    <th scope="row">@Html.DisplayNameFor(model => model.Achievements.PublishedOver50000TotalWords)</th>
                    <td>@Model.Achievements.PublishedOver50000TotalWords</td>
                </tr>
            </table>
            <br />
            <br />
        </div>
    </div>
</div>



<script>
    const formSubmitBtn = document.querySelector('#formSubmitBtn');

    formSubmitBtn.addEventListener('click', (e) => {
        setTimeout(() => {
            formSubmitBtn.disabled = true;
            formSubmitBtn.value = "Loading...";
        }, 50);
    });
</script>