@model BlogSimple.Model.ViewModels.AccountViewModels.MyAccountViewModel;

@{
    ViewData["Title"] = "My Account";
    Layout = "~/Views/Post/_DashboardLayoutIndex.cshtml";
}

<div class="container">

    <h1>My Account</h1>

    <br />
    <br />

    <div>
        @if (Model.AccountUser.EmailConfirmed == false)
        {
            <div class="text-left">
                <h4>Email Confirmation</h4>
                <hr />
                <div>
                    @if (Model.EmailConfirmViewModel.EmailSent)
                    {
                        <p class="alert alert-success">Email sent to your registered email id: @Model.AccountUser.Email</p>
                    }
                    <form asp-action="ConfirmEmail">
                        <div asp-asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <p>Please verify your email address sent to your mail in order to fully access your account. <br>
                            Click on the button below to resend an email confirmation link.</p>
                        <input type="hidden" asp-for="@Model.AccountUser.Email" />

                        <div class="form-group">
                            <input type="submit" value="Resend Email Confirmation" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
                <br />
                <br />
            </div>
        }
        <img class="myaccount-user-profile-img" src="~/UserFiles/Users/@Model.AccountUser.Id/ProfilePicture/ProfilePictureImage.jpg" alt="@Model.AccountUser.UserName Bio Image">
        <br />
        <br />
        <div class="text-left">
            <h4>Account Details - @Model.AccountUser.UserName</h4>
            <hr />
            <div class="row">
                <div class="col-sm-4">
                    First Name:
                </div>
                <div class="col-sm-4">
                    @Model.AccountUser.FirstName
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    Last Name:
                </div>
                <div class="col-sm-4">
                    @Model.AccountUser.LastName
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    UserName:
                </div>
                <div class="col-sm-4">
                    @Model.AccountUser.UserName
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    Email Address:
                </div>
                <div class="col-sm-4">
                    @Model.AccountUser.Email
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    Joined On:
                </div>
                <div class="col-sm-4">
                    @Model.AccountUser.CreatedOn
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    Posts Published:
                </div>
                <div class="col-sm-4">
                    @Model.PublishedPostsCount
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    Posts Favorited:
                </div>
                <div class="col-sm-4">
                    @Model.FavoritePostsCount
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    Total Comments:
                </div>
                <div class="col-sm-4">
                    @Model.TotalCommentsAndRepliesCount
                </div>
                <div class="col-sm-4">
                </div>
            </div>
            <br />
            <br />
        </div>


        <div class="text-left">
            <h4>Change Password</h4>
            <hr />
            <div class="row">

                <p>Forgot your password? No worries, you can reset it now.</p>
                <form asp-action="ForgotPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating mb-3">
                        <input asp-for="AccountUser.Password" class="form-control" />
                        <label asp-for="AccountUser.Password" class="text-black"></label>
                        <span asp-validation-for="AccountUser.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="AccountUser.Password" class="form-control" />
                        <label asp-for="AccountUser.Password" class="text-black"></label>
                        <span asp-validation-for="AccountUser.Password" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input asp-for="AccountUser.ConfirmPassword" class="form-control" />
                        <label asp-for="AccountUser.ConfirmPassword" class="text-black"></label>
                        <span asp-validation-for="AccountUser.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Update Password" class="btn btn-primary">
                    </div>
                </form>
            </div>
            <br />
            <br />
        </div>


        <div class="text-left">
            <h4>Delete Account</h4>
            <hr />
            <div class="row">
                <p>Are you sure you would like to delete your account? This will delete all your blog posts and comments posted within BlogSimple.</p>
                <div class="col-sm-4">
                    <form asp-controller="Account" asp-action="DeleteUser">
                        <input type="submit" class="btn btn-danger" value="Delete Account" />
                    </form>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>

</div>
