@model BlogSimple.Model.ViewModels.AccountViewModels.MyAchievementsViewModel;

@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Views/Account/_DashboardAccountLayout.cshtml";
}

<div class="m-5">
    <h1 class="text-left">My Achievements</h1>
    <br />
    <br />

    <div>
        <div class="text-left">
            <h4>Achievement Details - @Model.AccountUser.UserName</h4>
            <hr />
            <div class="grid-container">
                <div class="grid-item">
                    <strong>Create a Post</strong>
                    @Model.Achievements.CreatedPostFirstTimeImagePath
                    <br />
                    Completed: @Model.Achievements.CreatedPostFirstTime
                </div>
                <div class="grid-item">
                    <strong>Publish a Post</strong>
                    @Model.Achievements.PublishedPostFirstTimeImagePath
                    <br />
                    Completed: @Model.Achievements.PublishedPostFirstTime
                </div>
                <div class="grid-item">
                    <strong>Publish Five Posts</strong>
                    @Model.Achievements.PublishedFivePostsImagePath
                    <br />
                    Completed: @Model.Achievements.PublishedFivePosts
                </div>
                <div class="grid-item">
                    <strong>Publish Ten Posts</strong>
                    @Model.Achievements.PublishedTenPostsImagePath
                    <br />
                    Completed: @Model.Achievements.PublishedTenPosts
                </div>
                <div class="grid-item">
                    <strong>Edit a Post</strong>
                    @Model.Achievements.EditedPostFirstTimeImagePath
                    <br />
                    Completed: @Model.Achievements.EditedPostFirstTime
                </div>
                <div class="grid-item">
                    <strong>Favorite a Post</strong>
                    @Model.Achievements.FavoritePostFirstTimeImagePath
                    <br />
                    Completed: @Model.Achievements.FavoritePostFirstTime
                </div>
                <div class="grid-item">
                    <strong>Comment on a Post</strong>
                    @Model.Achievements.CreatedPostFirstTimeImagePath
                    <br />
                    Completed: @Model.Achievements.CreatedPostFirstTime
                </div>
                <div class="grid-item">
                    <strong>Comment Five Times</strong>
                    @Model.Achievements.PublishedFiveCommentsImagePath
                    <br />
                    Completed: @Model.Achievements.PublishedFiveComments
                </div>
                <div class="grid-item">
                    <strong>Comment Ten Times</strong>
                    @Model.Achievements.PublishedTenCommentsImagePath
                    <br />
                    Completed: @Model.Achievements.PublishedTenComments
                </div>
                <div class="grid-item">
                    <strong>Comment 20 Times</strong>
                    @Model.Achievements.Published20CommentsImagePath
                    <br />
                    Completed: @Model.Achievements.Published20Comments
                </div>
                <div class="grid-item">
                    <strong>Like a Comment</strong>
                    @Model.Achievements.LikedCommentFirstTimeImagePath
                    <br />
                    Completed: @Model.Achievements.LikedCommentFirstTime
                </div>
                <div class="grid-item">
                    <strong>Like Five Comments</strong>
                    @Model.Achievements.LikedFiveCommentsImagePath
                    <br />
                    Completed: @Model.Achievements.LikedFiveComments
                </div>
                <div class="grid-item">
                    <strong>Like Ten Comments</strong>
                    @Model.Achievements.LikedTenCommentsImagePath
                    <br />
                    Completed: @Model.Achievements.LikedTenComments
                </div>
                <div class="grid-item">
                    <strong>Reply to a Comment</strong>
                    @Model.Achievements.PublishedReplyFirstTimeImagePath
                    <br />
                    Completed: @Model.Achievements.PublishedReplyFirstTime
                </div>
                <div class="grid-item">
                    <strong>Publish Over 500 Total Words</strong>
                    @Model.Achievements.PublishedOver500TotalWordsImagePath
                    <br />
                    Completed: @Model.Achievements.PublishedOver500TotalWords
                </div>
                <div class="grid-item">
                    <strong>Publish Over 1000 Total Words</strong>
                    @Model.Achievements.PublishedOver1000TotalWordsImagePath
                    <br />
                    Completed: @Model.Achievements.PublishedOver1000TotalWords
                </div>
                <div class="grid-item">
                    <strong>Publish Over 5000 Total Words</strong>
                    @Model.Achievements.PublishedOver5000TotalWordsImagePath
                    <br />
                    Completed: @Model.Achievements.PublishedOver5000TotalWords
                </div>
                <div class="grid-item">
                    <strong>Publish Over 10000 Total Words</strong>
                    @Model.Achievements.PublishedOver10000TotalWordsImagePath
                    <br />
                    Completed: @Model.Achievements.PublishedOver10000TotalWords
                </div>
                <div class="grid-item">
                    <strong>Publish Over 50000 Total Words</strong>
                    @Model.Achievements.PublishedOver50000TotalWordsImagePath
                    <br />
                    Completed: @Model.Achievements.PublishedOver50000TotalWords
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
</div>



