@model BlogSimple.Model.ViewModels.AccountViewModels.MyProfileViewModel;

@{
    ViewData["Title"] = "My Profile";
    Layout = "~/Views/Account/_DashboardAccountLayout.cshtml";
}

<div class="m-5">
    <h1 class="text-left">My Profile</h1>
    <br />
    <br />

    <div>
        <div class="form-group myprofile-img-container">
            <img class="myaccount-user-profile-img" src="data:image/jpg;base64,@Convert.ToBase64String(Model.AccountUser.ProfilePicture)" alt="@Model.AccountUser.UserName Bio Image" />
            <br />
            <br />
        </div>

        <form asp-controller="Account" asp-action="UpdateUserProfilePicture" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger validation-summary"></div>

            <input asp-for="AccountUser.Id" readonly hidden />

            <div class="form-group">
                <label asp-for="AccountUser.ProfilePictureInput">Profile Picture</label>
                <div class="form-floating mb-3">
                    <div class="custom-file">
                        <input asp-for="AccountUser.ProfilePictureInput" class="form-control" accept="image/*" />
                    </div>
                </div>
            </div>
            <input id="formSubmitBtn" type="submit" value="Update" class="hero-btn" />
            <br />
        </form>
        <br />
        <br />
        <div class="text-left">
            <h4>Account Details - @Model.AccountUser.UserName</h4>
            <hr />
            <table class="table">
                <tr>
                    <th scope="row">First Name</th>
                    <td>@Model.AccountUser.FirstName</td>
                </tr>
                <tr>
                    <th scope="row">Last Name</th>
                    <td>@Model.AccountUser.LastName</td>
                </tr>
                <tr>
                    <th scope="row"> UserName</th>
                    <td>@Model.AccountUser.UserName</td>
                </tr>
                <tr>
                    <th scope="row">Email Address</th>
                    <td>@Model.AccountUser.Email</td>
                </tr>
                <tr>
                    <th scope="row">Joined On</th>
                    <td>@Model.AccountUser.CreatedOn</td>
                </tr>
                <tr>
                    <th scope="row">Posts Published</th>
                    <td>@Model.PublishedPostsCount</td>
                </tr>
                <tr>
                    <th scope="row">Posts Favorited</th>
                    <td>@Model.FavoritePostsCount</td>
                </tr>
                <tr>
                    <th scope="row">Total Comments</th>
                    <td>@Model.TotalCommentsAndRepliesCount</td>
                </tr>
            </table>
            <br />
            <br />
        </div>
    </div>
</div>



<script>
    const formSubmitBtn = document.querySelector('#formSubmitBtn');

    formSubmitBtn.addEventListener('click', (e) => {
        setTimeout(() => {
            formSubmitBtn.disabled = true;
            formSubmitBtn.value = "Processing...";
            console.log('delay: 50ms');
        }, 50);
        console.log('disabled: ' + formSubmitBtn.disabled)
    });
</script>